<p id="notice"><%= notice %></p>

<p>
  <b>Sub:</b>
  <%= @post.sub %>
</p>

<p>
  <b>Desc:</b>
  <%= @post.desc %>
</p>

<h1> comments </h1>
<ul>
<% @post.comments.each do |p| %>
<li><%= p.desc %> </li>

<% end %>
</ul>
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
<%= f.hidden_field :post_id,:value => @post.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
